<h2>All Posts</h2>
<ul *ngIf="posts.length > 0">
  <li *ngFor="let post of posts">
    <h4>Post ID: {{ post.pubid }}</h4>
    <p>Likes: {{ post.likes }}</p>
    <p>Content: {{ post.content }}</p>
    <p>Publication Date: {{ post.publication_date }}</p>
    
    <!--<div class="post-actions">
      <button (click)="likePost()">Likes : {{ post.likes }}</button>
      <button (click)="commentPost()">Commentaires : {{ post.comments.length }}</button>
    </div>-->
    <app-creatcomment [post]="post"></app-creatcomment>
  </li>
</ul>